__pycache__/*
__pycache__/
history/*           # All history files should go here, git will ignore them.
/testing.py
/RESULTSmarch29.dat
/results.dat
/RESULTSapril2.dat
/RESULTSApril3.dat
/RESULTSapril7.dat
/results1.png
/high_wins.png
/high_game.png
/quiz.data
/results2.png
/results3.png
/results4.png
/RESULTSapril09.dat
/clubnight.dat
/.idea/
/players.data
/config.dat
/something.png
/summary.png
/note.txt
/outputfile.txt
/summary.txt
/test.py
/.vs/PythonSettings.json
/announce.txt
/playersbackup.json
/test2.py
/outputfilebackup.txt
/config.dat
*.png
*.gcg
testing.py
*.log
*.exe
*.txt
/images
/tourney
quiz.data
/utilities/website_scraper.py
/modules/cambridge_json_update.py
/data/config.dat
/data/backups
/data/images
/data/music
/matches.xlsx
*.xlsx#
/Certs
/david
*.docx
*.doc
/modules/pairs.json
*.pdf
*.zip
/bingos.json
/g.json
/graph.json
*.gexf
/indexed_TWL.json
/phonies.json
/nodes.json
/New File
/links.json
*.gephi
*.gephi_temp1615249439054
/twl.json
/tiles_played.json
/.vs
/.vscode
/dbfile
/utilities/.vs/chromedriver/v16
